{% set title = "관리자 리스트" %}
{% extends "layout/base.html" %}
 
{% block content -%}
    <table class="table table-bordered table-hover">
        <tr>
            <th>제목</th>
            <th>제조사</th>
            <th>작성일</th>
            <th>삭제</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>
                <a href="/admin/contacts/detail/{{ contact.id }}">
                    {{ contact.name }}
                </a>
            </td>
            <td>
                {{ contact.manufacturer }}
            </td>
            <td>
                {{ contact.dateFormat(contact.createdAt) }}
            </td>
            <td>
                <a href="/admin/contacts/delete/{{ contact.id }}" class="btn btn-danger">삭제</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/admin/contacts/write" class="btn btn-default">작성하기</a>

{% endblock %}